.home-icon {
    background: #176d70;
    color: white;
    border: none;
    border-radius: 10px;
    width: 46px;
    height: 46px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, transform 0.3s ease;
    font-size: 1.15rem;
}

.home-icon:hover {
    background: #123452;
    transform: translateY(-2px);
}
