body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Make sure the root div takes up the full height */
#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Ensure the App component also takes up the full height */
.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Main content should take up the remaining space */
main {
  flex: 1;
}